@page "/"

<PageTitle>BMI Calculator</PageTitle>

<div class="container">
    <Slide Id="slide-calc">
        <h1>BMI Calculator</h1>
    </Slide>
    <Slide Id="slide-hist">
        <h1>History</h1>
    </Slide>
    <Slide Id="slide-about">
        <h1>About</h1>
    </Slide>
</div>